body, header, section, article, nav, div {
    margin: 0%;
    padding: 0%;
}

body.dark-mode{
    background-color: rgb(34, 32, 32);
    color:rgb(235, 235, 235);
}
    button{
        background-color: rgb(235, 235, 235);
        color:rgb(34, 32, 32);
        border-radius: 6px;
    }
.img{
    height: 15px;
}
/* Style the list */
ul.breadcrumb {
  padding: 10px 16px;
  list-style: none;
  background-color: #eee;
}

/* Display list items side by side */
ul.breadcrumb2 li {
  display: inline;
  font-size: 18px;
}

/* Add a slash symbol (/) before/behind each list item */
ul.breadcrumb2 li+li:before {
  padding: 8px;
  color: black;
  content: ">";
}

/* Add a color to all links inside the list */
ul.breadcrumb2 li a {
  color: #0275d8;
  text-decoration: none;
}

/* Add a color on mouse-over */
ul.breadcrumb2 li a:hover {
  color: #01447e;
  text-decoration: underline;
}

.iconredes img {
    height: 35px;;
}